.header {
  background-color: #c1c8f1;
  padding: 0;
  height: unset;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.content {
  padding-top: 0.5rem;
}

.footer {
  text-align: center;
}

.info {
  width: 100%;
  background-color: #fff;
}
.info-text {
  text-align: center;
  color: #aaa;
  font-size: 12px;
}

@media screen and (max-width: 1199px) {
  .header-container,
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header-container,
  .content {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
